.my-navbar {
    background-color: #563D7C !important;
    color: #F1F1F1 !important
}

.my-navbar a {
    color: #F1F1F1 !important;
    font-size: 20px;
    font-weight: bold
}

.my-navbar .navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
}

.my-navbar .links {
    margin-left: 50px
}